<%- include('partials/head')%>
<body>
  <header><%- include('partials/nav-loggedin')%></header>
  <main>
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 mt-5 text-center card">
          <div class="card-header mt-3">
            <img
              src="/images/alexander-schimmeck-CCJGadKQXxI-unsplash.jpg"
              alt="avatar"
              class="rounded-circle m-2"
              style="height: 100px; width: 100px"
            />
            <span> Profile name:</span> <%= profile.name.toUpperCase() %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span>Email:</span> <%= profile.email %>
            </li>
            <li class="list-group-item">
              <span>Credits:</span>
              You have <%= profile.credits %> credits
            </li>
          </ul>
          <div class="d-grid gap-2 mb-3">
            <a href="/avatar" class="btn btn-primary mt-4">UPDATE AVATAR</a>
          </div>
          <div class="g-3 mb-3 mt-5">
            <div class="card-header">CREATE A NEW LISTING</div>
            <form
              action="/create-listing"
              method="POST"
              novalidate
              class="validated-form"
            >
              <div class="my-3">
                <label for="title" class="form-label">Title</label>
                <textarea
                  class="form-control"
                  id="title"
                  name="title"
                  aria-label="title of a new listing"
                  rows="1"
                  required
                ></textarea>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="my-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                  class="form-control"
                  id="description"
                  name="description"
                  aria-label="description of a new listing"
                  rows="3"
                  required
                ></textarea>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="my-3">
                <label for="endsAt" class="form-label p-2">Deadline</label>
                <input
                  type="datetime-local"
                  id="endsAt"
                  name="endsAt"
                  value="2023-12-01T00:00:00"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="my-3">
                <label for="media" class="form-label">Media</label>
                <textarea
                  class="form-control"
                  id="media"
                  name="media"
                  aria-label="images of a new listing"
                  rows="1"
                ></textarea>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="d-grid gap-2">
                <input type="submit" class="btn btn-primary" value="SUBMIT" />
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-7 mt-5">
          <% if (listings.length >= 1) %>
              <div class="card p-3 mb-5">
                <div class="card-header">YOUR LISTINGS</div>
                <% { for (listing of listings) { %>
                <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item mt-5">
                      <%= listing.title.toUpperCase() %>
                    </li>
                    <li class="list-group-item"><%= listing.description %></li>
                  </ul>
                  <div>
                    <a href="/listings/<%= listing.id %>/edit" method="GET" class="btn btn-primary mt-4">UPDATE</a>
                    <form action="/listings/<%= listing.id %>/?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-outline-primary mt-4" value="Delete" />
                  </form>
                  </div>
                </div>
                <% } %>
              </div>
              <% } %> <% if (listings.length = 0) { %>
              <div class="card p-3">
                <div>You currently don't have any listings</div>
              </div>
              <% } %>
            </div>
          </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer')%>
</body>
</html>